*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');


/* shares style in here  */

.primary-btn{
    padding: 20px 40px;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    color: #fff;
    background-color: #F948B2;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-right: 1.5rem;
    font-size: 1.2rem;
}

.section-header-title{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.section-description{
    color: #534C64;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
}



/* header area styles */
.header-area {
    padding: 37px 100px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .logo{
    display: flex;
    align-items: center;
    column-gap: 1.3rem;
}


nav .logo img{
    width: inherit;
}

nav .logo h3{
    font-weight: 700;
    color: #0B0223;
    font-size: 2.8rem;
}
nav .logo h3 > span{
    color: #FF42A5;
}



nav  ul {
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 2rem;
}

nav ul li a{
    color: #3C354F;
    font-weight: 500;
    font-size: 1.1rem;
}

nav ul .sidebar{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1.1rem 1.5rem;
}

nav ul .sidebar a{
    color: #3C354F;
    font-weight: 500;
    margin-right: 1.5rem;
    font-size: 1.1rem;

}

/* main area in start  */
.banner-container{
    display: flex;
    justify-content: space-between;
}

.banner-content{
    padding: 148px 100px;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.banner-content .banner-title{

    color: #0B0223;
    font-weight: 600;
    font-size: 3rem;
}
.banner-content .banner-large-title{
    color: #F948B2;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 6rem;
}

.banner-list-item li {
    color: #534C64;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 1.2rem;
}


.btn-box button:last-child{
    background-color: #4EC5F7;
}

.banner-img-container{
    padding-right: 80px;
}


/* gamer section styles */
.gamer-container {
	padding: 50px 100px;
    margin-bottom: 50px;
	display: grid;
	grid-template-columns: 762px auto;
	column-gap: 3.2rem;
	background-image: url(../images/Group\ 14.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.gamer-img-container{
    max-width: 868px;
}
.gamer-img-container img{
    width: 100%;
}

.gamer-content{
    text-align: right;
}

.gamer-title{
    margin-bottom: 1.5rem;
}

.banner-content button{
    margin-top: 2rem;
}

.gamer-content > .our-title{
    color: #534C64;
    font-weight: 500;
    line-height: 2.8rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-overflow: ellipsis;
}

.gamer-content > .gamer-unleash{
    color: #534C64;
    font-weight: 700;
    line-height: 2.8rem;
    text-transform: capitalize;
    font-size: 1.5rem;
}

/* online games styles  */
.online-game-container{
    padding: 0 100px;
    padding-bottom: 100px;
}
.online-games-header{
    text-align: center;
}

.online-games-title{
    margin-bottom: 1rem;
}

.online-games-description{
    margin-bottom: 3rem;
}

.online-games-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    column-gap: 1rem;
}
.online-content{
    max-width: 280px;
    
}


.online-games-content img{
   width: 100%;
   border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    display: block;
}

.online-img{
    position: relative;
    margin-bottom: 1.5rem;
}

.online-img .overlay img {
	width: 48px;
    height: 48px;
}

.online-img::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 16px;
    background:#00000099;
    transition: .3s;
    opacity: 0;
}

.online-img .overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    transition: .3s;
    opacity: 0;
}

.online-content:hover .overlay{
    opacity: 1;
}

.online-content:hover .online-img::before{
    opacity: 1;
}





.online-description{
    color: #534C64;
    font-weight: 500;
    list-style: 1.8rem;
    font-size: 1.2rem;
}


/* play instantyl styles */

.play-instantly-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 165px;
	padding: 0 100px 120px 150px;
}

.play-content h3{
    color: #F948B2 ;
    font-weight: 700;
    line-height: 3.8rem;
    margin-bottom: .5rem;
    font-size: 3rem;
}

.play-content h3 span{
    color: #0B0223;
}

.play-img{
    position: relative;
}

.play-nested-img {
	position: absolute;
	bottom: -90px;
	left: -150px;
}





















/* mobile device responsive in here  */
@media screen and (max-width:576px) {  
    .header-area {
        padding: 30px 15px;
    }
    nav .logo {
        margin-bottom: 1rem;
    } 
    nav, nav  ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 1.5rem;
    }

    .banner-container {
        padding: 0 15px;
        flex-direction: column-reverse;
    }


    .banner-content .banner-large-title {
        font-size: 5rem;
    }
    .banner-content {
        padding: 80px 15px;
    }

    .btn-box .primary-btn {
        padding: 20px 33px;
        font-size: 1.1rem;
    }

    .banner-img-container {
        padding-right: 0px;
    }

    .banner-img-container img{
        width: 100%;
        margin-bottom: 1rem;
    }

    .gamer-container {
        padding: 0 15px;
        grid-template-columns: repeat(1, 1fr);
    }

    .gamer-img-container {
        width: 100%;
    }

    .gamer-content {
        text-align: center;
    }

    .online-game-container {
        padding: 0 25px;
    }

    .online-games-title {
        font-size: 2rem;
    }

    .online-games-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .online-content {
        max-width: 100%;
    }

    .online-description {
        margin-bottom: 1.5rem;
    }

    .play-instantly-container {
        column-gap: 0px;
        padding: 0 25px 120px 25px;
        flex-direction: column;
    }

    .play-content {
        margin-bottom: 2rem;
    }

    .play-img-container {
        width: 100%;
    }

    .play-img-container img {
        width: 100%;
    }

    .play-nested-img {
        bottom: -28px;
        left: 0px;
    }

    .play-nested-img img {
        max-width: 155px;
        width: 100%;
    }


    
}


/* tablet device responsive in here  */
@media screen and (min-width:576px) and (max-width:778px) {
    .header-area {
        padding: 37px 30px;
    }

    nav, nav  ul, .banner-container {
        flex-direction: column;
    }

    nav .logo , nav ul li {
        margin-bottom: 1.5rem;
    }

    .banner-container {
        padding: 0 30px;
        flex-direction: column-reverse;
    }

    .banner-content {
        padding: 100px 50px;
    }

    .banner-img-container {
        padding-right: 0px;
    }

    .banner-img-container img{
        width: 100%;
        margin-bottom: 1rem;
    }

    .gamer-container {
        padding: 0 15px;
        grid-template-columns: repeat(1, 1fr);
    }

    .gamer-img-container {
        width: 100%;
    }

    .gamer-content {
        text-align: center;
    }

    .online-game-container {
        padding: 0 50px;
    }

    .online-games-title {
        font-size: 2rem;
    }

    .online-games-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .online-content {
        max-width: 100%;
    }

    .online-description {
        margin-bottom: 1.5rem;
    }

    .play-instantly-container {
        column-gap: 0;
        padding: 0 50px 120px 50px;
        flex-direction: column;
    }

    .play-content {
        text-align: center;
        margin-bottom: 2rem;
    }

    .play-img img {
        max-width: 450px;
        width: 100%;
    }

    .play-nested-img img {
        max-width: 180px;
        width: 100%;
    }

    .play-nested-img {
        bottom: -90px;
        left: -98px;
    }


    
}

/* laptop device responsive in here code  */
@media screen and (min-width:778px) and (max-width:992px) {
    .header-area {
        padding: 37px 20px;
    }

    nav .logo {
        column-gap: 1rem;
    }

    nav ul li {
        margin-right: 1.1rem;
    }

    .banner-container {
        padding: 0px 20px;
        flex-direction: column-reverse;
    }

    .banner-content {
        padding: 80px 60px;
    }

    .banner-img-container {
        padding-right: 0px;
    }

    .banner-img-container img{
        width: 100%;
        margin-bottom: 1rem;
    }

    .gamer-container {
        padding: 0 15px;
        grid-template-columns: repeat(1, 1fr);
    }

    .gamer-img-container {
        width: 100%;
    }

    .gamer-content {
        text-align: center;
    }

    .online-games-title {
        font-size: 2.5rem;
    }

    .online-games-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .online-description {
      margin-bottom: 1.5rem;
    }

    .play-instantly-container {
        column-gap: 0px;
        padding: 0 0px 120px 100px;
        flex-direction: column;
    }

    .play-content {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .play-img-container {
        width: 100%;
        text-align: center;
    }

    .play-nested-img {
        bottom: -106px;
        left: -8px;
    }


}

/* large laptop device responsive in here code  */
@media screen and (min-width:992px) and (max-width:1200px) {
    .header-area {
        padding: 37px 40px;
    }

    .banner-container {
        padding: 0 10px;
    }

    .banner-content {
        padding: 50px 25px;
    }

    .banner-img-container {
        padding-right: 25px;
    }

    .banner-img-container img{
        width: 100%;
        /* margin-bottom: 1rem; */
    }

    .gamer-container {
        padding: 0 50px;
        grid-template-columns: 520px auto;
    }

    .gamer-content > .gamer-unleash {
        font-size: 1.2rem;
    }

    .online-game-container {
        padding: 75px 65px;
    }

    .online-description {
        font-size: 1rem;
    }

    .play-instantly-container {
        column-gap: 76px;
        padding: 0 63px 120px 63px;
    }

    .play-content {
        max-width: 425px;
        width: 100%;
    }

    .play-img img{
        max-width: 540px;
        width: 100%;
    }
    .play-nested-img {
        bottom: -48px;
        left: -65px;
    }

    .play-nested-img img {
        max-width: 180px;
        width: 100%;
    }

    



}


/* large computer device responsive in here code  */
@media screen and (min-width:1200px) and (max-width:1400px) {
    .header-area {
        padding: 37px 30px;
    }

    .banner-content {
        padding: 100px 25px;
    }

    .banner-img-container {
        padding-right: 5px;
    }

    .gamer-container {
        padding: 0 50px;
        grid-template-columns: 700px auto;
    }

    .online-description {
        font-size: 1.1rem;
    }

    .play-instantly-container {
        column-gap: 74px;
        padding: 0 100px 120px 100px;
    }

    .play-nested-img {
        position: absolute;
        bottom: -55px;
        left: -85px;
    }

    .play-nested-img img {
        max-width: 225px;
        width: 100%;
    }


}

















