*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');


/* shares style in here  */

.primary-btn{
    padding: 20px 40px;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    color: #fff;
    background-color: #F948B2;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-right: 1.5rem;
    font-size: 1.2rem;
}

.section-header-title{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.section-description{
    color: #534C64;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
}



/* header area styles */
.header-area {
    padding: 37px 100px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .logo{
    display: flex;
    align-items: center;
    column-gap: 1.3rem;
}


nav .logo img{
    width: inherit;
}

nav .logo h3{
    font-weight: 700;
    color: #0B0223;
    font-size: 2.8rem;
}
nav .logo h3 > span{
    color: #FF42A5;
}



nav  ul {
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 2rem;
}

nav ul li a{
    color: #3C354F;
    font-weight: 500;
    font-size: 1.1rem;
}

nav ul .sidebar{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1.1rem 1.5rem;
}

nav ul .sidebar a{
    color: #3C354F;
    font-weight: 500;
    margin-right: 1.5rem;
    font-size: 1.1rem;

}

/* main area in start  */
.banner-container{
    display: flex;
    justify-content: space-between;
}

.banner-content{
    padding: 148px 100px;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.banner-content .banner-title{

    color: #0B0223;
    font-weight: 600;
    font-size: 3rem;
}
.banner-content .banner-large-title{
    color: #F948B2;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 6rem;
}

.banner-list-item li {
    color: #534C64;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 1.2rem;
}


.btn-box button:last-child{
    background-color: #4EC5F7;
}

.banner-img-container{
    padding-right: 80px;
}


/* gamer section styles */
.gamer-container {
	padding: 50px 100px;
    margin-bottom: 50px;
	display: grid;
	grid-template-columns: 762px auto;
	column-gap: 3.2rem;
	background-image: url(../images/Group\ 14.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.gamer-img-container{
    max-width: 868px;
}
.gamer-img-container img{
    width: 100%;
}

.gamer-content{
    text-align: right;
}

.gamer-title{
    margin-bottom: 1.5rem;
}

.banner-content button{
    margin-top: 2rem;
}

.gamer-content > .our-title{
    color: #534C64;
    font-weight: 500;
    line-height: 2.8rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-overflow: ellipsis;
}

.gamer-content > .gamer-unleash{
    color: #534C64;
    font-weight: 700;
    line-height: 2.8rem;
    text-transform: capitalize;
    font-size: 1.5rem;
}

/* online games styles  */
.online-game-container{
    padding: 0 100px;
    padding-bottom: 100px;
}
.online-games-header{
    text-align: center;
}

.online-games-title{
    margin-bottom: 1rem;
}

.online-games-description{
    margin-bottom: 3rem;
}

.online-games-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    column-gap: 1rem;
}
.online-content{
    max-width: 280px;
    
}


.online-games-content img{
   width: 100%;
   border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    display: block;
}

.online-img{
    position: relative;
    margin-bottom: 1.5rem;
}

.online-img .overlay img {
	width: 48px;
    height: 48px;
}

.online-img::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 16px;
    background:#00000099;
    transition: .3s;
    opacity: 0;
}

.online-img .overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    transition: .3s;
    opacity: 0;
}

.online-content:hover .overlay{
    opacity: 1;
}

.online-content:hover .online-img::before{
    opacity: 1;
}





.online-description{
    color: #534C64;
    font-weight: 500;
    list-style: 1.8rem;
    font-size: 1.2rem;
}


/* play instantyl styles */

.play-instantly-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 165px;
	padding: 0 100px 120px 150px;
}

.play-content h3{
    color: #F948B2 ;
    font-weight: 700;
    line-height: 3.8rem;
    margin-bottom: .5rem;
    font-size: 3rem;
}

.play-content h3 span{
    color: #0B0223;
}

.play-img{
    position: relative;
}

.play-nested-img {
	position: absolute;
	bottom: -90px;
	left: -150px;
}


/* play game section styles */

.play-game-container {
	padding: 50px 100px 140px 100px;
	column-gap: 121px;
}
.play-game-img{
    position: relative;
}

.play-game-nested-img {
	position: absolute;
	bottom: -108px;
	right: -111px;
}


/* career section styles */
.career-container{
    display: flex;
    justify-content: space-between;
    background: #FF42A5;
    padding: 120px 0px 120px 100px;
    position: relative;
}

.career-container::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url(../images/Group\ 65.png);
}
.career-content{
    max-width: 600px;
    width: 100%;
}
.career-title {
    color: #FFF;
    font-weight: 700;
    line-height: 3.8rem;
	margin-bottom: 1.5rem;
    font-size: 3rem;
}

.career-description{
    color: #FFF;
    margin-bottom: 2rem;

}

.career-content-list {
	display: flex;
	justify-content: space-between;
}

.career-content-list .career-list li{
    color: #FFF;
    font-weight: 600;
    line-height: 40px;
    font-size: 1.2rem;
}

.career-btn{
    color: #F948B2;
    background: #FFF;
}

.career-img {
    display: none;
    visibility: hidden;
}

.career-img img{
    width: 100%;
    display: block;
}

/* sponsor section styles */
.sponsor-container {
	padding: 120px 50px;
}
.sponsor-content-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr) ;
	gap: 1.5rem;
	align-items: center;
    margin-bottom: 2.3rem;
}

.sponsor-content {
	display: flex;
	align-content: center;
	column-gap: 1.5rem;
	padding: 10px;
}
.sponsor-content.active{
    border-radius: 50px;
    border: 1px solid #FF42A5;
}

.sponsor-content .active{
    color: #FF42A5;
}

.sponsor-content-last {
	display: grid;
	grid-template-columns: 299px 299px 299px 229px;
	column-gap: 1.6rem;
	padding: 0 60px;
    flex-wrap: wrap;
}

.sponsor-content h4 {
	line-height: 1;
	margin-top: 1.5rem;
}

/* footer section styles */

.footer-container{
    padding: 126px 0 130px 0;
    background: #0B0223;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 4.4rem;
    
}

.footer-logo h3{
    font-weight: 700;
    color: #FFF;
    display: inline-block;
    font-size: 2.8rem;
    
}

.footer-logo h3 > span{
    color: #FF42A5;
}

.footer-menu{
    margin-bottom: 3.8rem;
}

.footer-menu ul {
    display: flex;
    column-gap: 3.8rem;
}
.footer-menu ul li a{
    color: #FFF;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
}

.footer-social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2.8rem;
    margin-bottom: 3.5rem;
}

.footer-contact{
    margin-bottom: 1.7rem;
}

.footer-contact ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3.8rem;
}
.footer-contact ul li a{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    font-size: 1rem;
}

.copyright-text{
    text-align: center;
}

.copyright-text p{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    font-size: 1rem;
}




/* mobile device responsive in here  */
@media screen and (max-width:576px) {  
    .header-area {
        padding: 30px 15px;
    }
    nav .logo {
        margin-bottom: 1rem;
    } 
    nav, nav  ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 1.5rem;
    }

    .banner-container {
        padding: 0 15px;
        flex-direction: column-reverse;
    }


    .banner-content .banner-large-title {
        font-size: 5rem;
    }
    .banner-content {
        padding: 80px 15px;
    }

    .btn-box .primary-btn {
        padding: 20px 33px;
        font-size: 1.1rem;
    }

    .banner-img-container {
        padding-right: 0px;
    }

    .banner-img-container img{
        width: 100%;
        margin-bottom: 1rem;
    }

    .gamer-container {
        padding: 0 15px;
        grid-template-columns: repeat(1, 1fr);
    }

    .gamer-img-container {
        width: 100%;
    }

    .gamer-content {
        text-align: center;
    }

    .online-game-container {
        padding: 0 25px;
    }

    .online-games-title {
        font-size: 2rem;
    }

    .online-games-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .online-content {
        max-width: 100%;
    }

    .online-description {
        margin-bottom: 1.5rem;
    }

    .play-instantly-container {
        column-gap: 0px;
        padding: 0 25px 120px 25px;
        flex-direction: column;
    }

    .play-content, .career-content {
        margin-bottom: 2rem;
    }

    .play-img-container {
        width: 100%;
    }

    .play-img-container img {
        width: 100%;
    }

    .play-nested-img {
        bottom: -28px;
        left: 0px;
    }

    .play-nested-img img {
        max-width: 155px;
        width: 100%;
    }

    .play-game-container {
        flex-direction: column-reverse;
    }

    .play-game-nested-img {
        bottom: -25px;
        right: 0px;
    }
    .play-game-nested-img img {
        max-width: 180px;
        width: 100%;
    }

    .career-container{
        flex-direction: column;
        padding: 80px 25px;
    }
    .career-content-list .career-list li {
        font-size: 1rem;
    }
    
    .career-container::before {
        display: none;
        visibility: hidden;
    }

    .career-img {
        display: block;
        visibility: visible;
    }

    .sponsor-container {
        padding: 120px 20px;
    }

    .sponsor-content-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .sponsor-content-last {
        grid-template-columns: repeat(1,1fr);
        padding: 0 0px;
    }


    .footer-container {
        padding: 126px 30px 130px 30px;
    }
    .footer-menu {
        margin-bottom: 3.8rem;
        padding: 0 0px;
    }
    .footer-menu ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        column-gap: 2rem;
    }

    .footer-menu ul li{
        margin-bottom: 1rem;
    }

    .footer-menu ul li a {
        font-size: 1rem;
    }

    .footer-contact ul {
        column-gap: 1rem;
        flex-wrap: wrap;
    }

    .footer-contact ul li{
        margin-bottom: 1rem;
    }

    .footer-social-icon {
        column-gap: 1rem;
    }

    .copyright-text p {
        line-height: 30px;
    }
    


    
}


/* tablet device responsive in here  */
@media screen and (min-width:576px) and (max-width:778px) {
    .header-area {
        padding: 37px 30px;
    }

    nav, nav  ul, .banner-container, .career-container {
        flex-direction: column;
    }

    nav .logo , nav ul li {
        margin-bottom: 1.5rem;
    }

    .banner-container {
        padding: 0 30px;
        flex-direction: column-reverse;
    }

    .banner-content {
        padding: 100px 50px;
    }

    .banner-img-container {
        padding-right: 0px;
    }

    .banner-img-container img{
        width: 100%;
        margin-bottom: 1rem;
    }

    .gamer-container {
        padding: 0 15px;
        grid-template-columns: repeat(1, 1fr);
    }

    .gamer-img-container {
        width: 100%;
    }

    .gamer-content {
        text-align: center;
    }

    .online-game-container {
        padding: 0 50px;
    }

    .online-games-title {
        font-size: 2rem;
    }

    .online-games-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .online-content {
        max-width: 100%;
    }

    .online-description {
        margin-bottom: 1.5rem;
    }

    .play-instantly-container {
        column-gap: 0;
        padding: 0 50px 120px 50px;
        flex-direction: column;
    }

    .play-content {
        text-align: center;
        margin-bottom: 2rem;
    }

    .play-img img {
        max-width: 450px;
        width: 100%;
    }

    .play-nested-img img {
        max-width: 180px;
        width: 100%;
    }

    .play-nested-img {
        bottom: -90px;
        left: -98px;
    }

    .play-game-container {
        flex-direction: column-reverse;
        padding: 0 100px 120px 42px;
    }

    .play-game-nested-img {
        bottom: -57px;
        right: -99px;
    }

    .play-game-nested-img img {
        max-width: 180px;
        width: 100%;
    }

    .career-container {
        padding: 50px;
    }

    .career-content{
        margin-bottom: 2rem;
    }

    .career-content-list .career-list li {
        font-size: 1.1rem;
    }

    .career-container::before {
        display: none;
        visibility: hidden;
    }

    .career-img {
        display: block;
        visibility: visible;
    }

    .sponsor-container {
        padding: 120px 20px;
    }

    .sponsor-content-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .sponsor-content-last {
        grid-template-columns: repeat(2,1fr);
        padding: 0 0px;
    }

    .footer-container {
        padding: 126px 30px 130px 30px;
    }
    .footer-menu {
        margin-bottom: 3.8rem;
        padding: 0 0px;
    }
    .footer-menu ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        flex-wrap: wrap;
        column-gap: 2rem;
    }

    .footer-menu ul li{
        margin-bottom: 1rem;
    }

    .footer-contact ul {
        column-gap: 1rem;
    }


    
}

/* laptop device responsive in here code  */
@media screen and (min-width:778px) and (max-width:992px) {
    .header-area {
        padding: 37px 20px;
    }

    nav .logo {
        column-gap: 1rem;
    }

    nav ul li {
        margin-right: 1.1rem;
    }

    .banner-container {
        padding: 0px 20px;
        flex-direction: column-reverse;
    }

    .banner-content {
        padding: 80px 60px;
    }

    .banner-img-container {
        padding-right: 0px;
    }

    .banner-img-container img{
        width: 100%;
        margin-bottom: 1rem;
    }

    .gamer-container {
        padding: 0 15px;
        grid-template-columns: repeat(1, 1fr);
    }

    .gamer-img-container {
        width: 100%;
    }

    .gamer-content {
        text-align: center;
    }

    .online-games-title {
        font-size: 2.5rem;
    }

    .online-games-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .online-description {
      margin-bottom: 1.5rem;
    }

    .play-instantly-container {
        column-gap: 0px;
        padding: 0 0px 120px 100px;
        flex-direction: column;
    }

    .play-content {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .play-img-container {
        width: 100%;
        text-align: center;
    }

    .play-nested-img {
        bottom: -106px;
        left: -8px;
    }


    .play-game-container {
        flex-direction: column-reverse;
        padding: 0 100px 120px 33px;
    }

    .play-game-nested-img {
        bottom: -108px;
        right: -52px;
    }

    .career-container {
        flex-direction: column;
        padding: 120px 70px 120px 80px;
    }

    .career-content{
        margin-bottom: 2rem;
    }

    .career-container::before {
        display: none;
        visibility: hidden;
    }

    .career-img {
        display: block;
        visibility: visible;
    }

    .sponsor-container {
        padding: 120px 30px;
    }

    .sponsor-content-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .sponsor-content-last {
        padding: 0 0px;
        grid-template-columns: repeat(3,1fr);
    }

    .sponsor-content {
        column-gap: 1rem;
    }

    .footer-container {
        padding: 126px 30px 130px 30px;
    }

    .footer-menu ul {
        column-gap: 3rem;
    }

    


}

/* large laptop device responsive in here code  */
@media screen and (min-width:992px) and (max-width:1200px) {
    .header-area {
        padding: 37px 40px;
    }

    .banner-container {
        padding: 0 10px;
    }

    .banner-content {
        padding: 50px 25px;
    }

    .banner-img-container {
        padding-right: 25px;
    }

    .banner-img-container img{
        width: 100%;
        /* margin-bottom: 1rem; */
    }

    .gamer-container {
        padding: 0 50px;
        grid-template-columns: 520px auto;
    }

    .gamer-content > .gamer-unleash {
        font-size: 1.2rem;
    }

    .online-game-container {
        padding: 75px 65px;
    }

    .online-description {
        font-size: 1rem;
    }

    .play-instantly-container {
        column-gap: 76px;
        padding: 0 63px 120px 63px;
    }

    .play-content {
        max-width: 425px;
        width: 100%;
    }

    .play-img img{
        max-width: 540px;
        width: 100%;
    }
    .play-nested-img {
        bottom: -48px;
        left: -65px;
    }

    .play-nested-img img {
        max-width: 180px;
        width: 100%;
    }

    

    .play-game-content {
        max-width: 400px;
        width: 100%;
    }

    .play-game-nested-img {
        bottom: -28px;
        right: -52px;
    }

    .play-game-nested-img img {
        max-width: 180px;
        width: 100%;
    }

    .career-container {
        flex-direction: column;
        padding: 75px 65px;
    }
    .career-content{
        margin-bottom: 2rem;
    }

    .career-container::before {
        display: block;
        visibility: visible;
    }


    .sponsor-content-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .sponsor-content-last {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 0px;
    }

    



}


/* large computer device responsive in here code  */
@media screen and (min-width:1200px) and (max-width:1400px) {
    .header-area {
        padding: 37px 30px;
    }

    .banner-content {
        padding: 100px 25px;
    }

    .banner-img-container {
        padding-right: 5px;
    }

    .gamer-container {
        padding: 0 50px;
        grid-template-columns: 700px auto;
    }

    .online-description {
        font-size: 1.1rem;
    }

    .play-instantly-container {
        column-gap: 74px;
        padding: 0 100px 120px 100px;
    }
    .play-content h3 {
        font-size: 2.7rem;
    }

    .play-nested-img {
        position: absolute;
        bottom: -55px;
        left: -85px;
    }

    .play-nested-img img {
        max-width: 225px;
        width: 100%;
    }

    .play-game-container {
        padding: 50px 100px 70px 100px;
        column-gap: 135px;
    }

    .play-game-img img {
        /* max-width: 635px; */
        width: 100%;
    }

    .play-game-nested-img {
        bottom: -58px;
        right: -111px;
    }

    .play-game-nested-img img {
        max-width: 225px;
        width: 100%;
    }

    .play-game-content {
        max-width: 400px;
        width: 100%;
    }

    .sponsor-content-container {
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }
    .sponsor-content {
        column-gap: .3rem;
    }
    .sponsor-content-last {
        grid-template-columns: 250px 250px 250px 250px;
    }

}

















